@import "./reset.css";
@import "./variables.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
